@media (max-width: 991px) {
  /* BASE */
  .img-box {
    --box-spacing: 14px;
    --img-border-radius: 10px;
  }

  .img-box > img {
    border-radius: 10px;
  }
  /* LAYOUT */
  .grid--2-cols,
  .grid--3-cols {
    --grid-col: 1;
  }

  .heading-primary {
    font-size: 44px;
  }
  /* BUTTON */
  .btn {
    width: 100%;
  }

  /* HEADER */
  .navbar {
    margin: 0;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: initial;
  }

  /* HERO */
  .hero-img-container {
    grid-row: 2 / 3;
    margin-bottom: 60px;
  }

  .hero-text-container {
    margin-bottom: 68px;
  }

  .hero-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
  }

  .hero-form-select-box {
    flex-direction: column;
    align-items: flex-start;
  }

  /* FEATURES */
  .features {
    position: relative;
  }
  .features-header-subtitle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  /* POPULAR */

  .popular-btn {
    display: none;
  }

  /* FAQ */
  .faq-header p {
    width: 100%;
    margin: 0 auto;
  }
  .faq-box {
    display: flex;
    flex-direction: column;
  }

  .faq-box {
    margin: 32px auto 48px;
    height: 600px;
  }

  .faq-box-container {
    padding: 22px 12px 26px;
  }

  .faq-des {
    padding: 0;
  }

  /* FOOTER */
  .footer {
    margin: 90px auto 40px;
  }

  .footer-container {
    flex-direction: column;
    gap: 58px;
  }

  .footer-container-box-2 {
    width: 100%;
  }

  .company-des {
    margin-top: 42px;
  }

  .footer-page-des,
  .footer-page-privacy {
    flex-direction: column;
    gap: 18px;
  }
}
